body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  margin-top: 100px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #0073bb;
  color: white;
  border: none;
  cursor: pointer;
}